@import "tailwindcss";

/* Esta línea es mágica: le dice a la nueva versión que lea tu config antigua */
@config "../../tailwind.config.ts";

@layer base {
    body {
        @apply bg-background text-foreground;
    }
    h1, h2, h3, h4, h5, h6 {
        @apply font-serif;
    }
}